<h1>User Login</h1>

<%= form_tag('/sessions', method: 'post')  %>
    <p>
    <%= label_tag :name %>
    <%= collection_select :user, :name, User.all, :name, :name %>
    </p>

    <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    </p>

    <%= submit_tag 'Sign In' %>
