<h1><%= @user.name %></h1>
<h3><%= admin?(@user) %></h3>  
<h4>User Mood:</h4> <%= @user.mood %>
<h4>User Tickets:</h4> <p><%= @user.tickets %></p>
<h4>User Height:</h4> <p><%= @user.height %></p><br> 


<h4><%= link_to "See attractions", attractions_path %></h4>

<%= flash[:message] %>


