<h1><%="Edit #{@attraction.name}"%></h1><br>
<br>
<br>
<%=form_for @attraction do |form|%>
  <%=form.label :name%><br>
  <%=form.text_field :name%><br>
  <%=form.label :min_height%><br>
  <%=form.text_field :min_height%><br>
  <%=form.label :happiness_rating%><br>
  <%=form.text_field :happiness_rating%><br>
  <%=form.label :nausea_rating%><br>
  <%=form.text_field :nausea_rating%><br>
  <%=form.label :tickets%><br>
  <%=form.text_field :tickets%><br>
  <%=form.submit%>
<%end%>