<h1>Create an Attraction</h1>

<%= form_for @attraction do |f| %>
  <%= f.label "Attraction Name" %><br />
  <%= f.text_field :name %><br />
  <%= f.label "Tickets" %><br />
  <%= f.text_field :tickets %><br />
  <%= f.label "Nausea" %><br />
  <%= f.text_field :nausea_rating %><br />
  <%= f.label "Happiness" %><br />
  <%= f.text_field :happiness_rating %><br />
  <%= f.label "Minimum Height" %><br />
  <%= f.text_field :min_height %><br />
  <br />
  <%= f.submit "Create Attraction" %>
<% end %> 